body{
  background-image:url('pink_pattern.PNG');
  background-repeat: no repeat;
  background-size: cover;
  background-color: transparent;
  opacity: 0.7;
  font-family: cursvie;
font-size: larger;}

h1{color: black; font-weight:bold;}
h2{color: black; font-family: arial;}

.top-bar{background-color:rgba(0, 0, 0, 0.5);
         color:white;
         text-align: center;
         padding: 10px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         height: 50px;}

.top-bar ul{list-style-type: none;}

.top-bar ul li{
  display: inline;
  margin-right: 15px;
  font-size: 14px;
  color: white;
}

.top-bar a:link,
.top-bar a:visited{
  text-decoration: none;
  color: white;
  font-weight: bold;}


.logo img{
  opacity: 1;
  height: 60px;
  margin-left: 20px;
  width: 180px;
  filter: brightness(90%)}

.flex-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;}
