h1 {color: darkgreen; font-weight:bold;}
h2 {color: darkgreen; font-weight: bold; font-type: arial;}
body{background-color: rgba(192, 192, 192, 0.7); font-family:cursive;}


.top-bar{
  background-color:rgba(0, 128, 0, 0.2);
  color: white;
  text-align: right;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: centre;
  height: 50px;}

.top-bar ul{
  list-style-type: none;}

.top0bsr ul li{
  display: inline;
  margin-right: 15px; font-size: 15px;}

.top-bar a:link{
  text-decoration: none;
  color: black;
  font-weight: bold;}

.top-bar a:visited {
  text-decoration: none;
  color: grey;
  font-weight: bold;}

.logo img {
  opacity: 0.7;
  height: 60px;
  margin-left: 20px;
  width: 200px}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;}
  
