h1{
  color: darkgreen;
  font-weight: bold;
}
h2,h3 {
  color:darkgreen;
  font-weight:bold;
  font-family:Arial, sans-serif;
}
body{
  background-color: rgba(85,107,47,0.3)
  font-family:cursive;
}

.top-bar {
  background-color: rgba(0,128,0,0.1);
  color: white;
  text-align: center;
  padding:10px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  height:50px;
}

.top-bar ul {
  list-style-type: none;
}
.top-bar ul li{
  display: inline;
  margin-right:15px;
  font-size:14px;
}
.top-bar a:link{
  text-decoration:none;
  color:black;
  font-weight:bold;
}

.top-bar a :visited{
  text-decoration:none;
  color:grey;
  font-weight:bold;
}
.logo img{
  opacity:0.7;
  height:60px;
  margin-left:20px;
  width:180px;
}

.flex-container {
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
ul.custom-list{
  list-style-type:none;
  padding-left:60px;
  margin-bottom:5px;
  line-height:1.5;
}

ul.custom-list li{
  background-image:url ('grapes.png');













