h1{
  color: darkgreen;
  font-weight: bold;
}
h2,h3 {
  color:darkgreen;
  font-weight:bold;
  font-family:Arial, sans-serif;
}
body{
  background-color: rgba(85,107,47,0.3)
  font-family:cursive;
}
