h1{color: darkgreen; font-weight: bold;}
h2{color: darkgreen; font-weight: bold; font-family: arial;}
body{background-color: rgba(85, 107, 47, 0.3);
     font-family: cursive}

footer{font-weight: none;
position:absolute;
bottom: 0;
width: 100%;
background-color: none;
color: white;
text-align: center;
padding: 10px;}

.top-bar{
  background-color: rgba(0, 128, 0, 0.1);
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;}

.top-bar ul{
  list-style-type:none;}

.top-bar ul li{
  display: inline;
  margin-right: 15px;
  font-size: 14px;}

.top-bar a:link{
  text-decoration: none;
  color: black;
  font-weight: bold;}

.top-bar a:visited{
  text-decoration: none;
  color: grey;
  font-weight: bold;}

.logo img{
  opacity: 0.7;
  height: 60px;
  margin-left: 20px;
  width: 180px}

.tour-image{
  max-width: 200px;
  height: auto;}

.pairing-image{
  max-width: 200px;
    height:auto;}

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-betweeen;}

section{
     flex: 1;
     max-width: calc(33.333% - 20px);
     margin: 10px}
